<div class="row">

    <div class="jumbotron">
        <h1>Welcome to Car Pooling</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel-heading">Statistics</div>
            <div class="panel-body">
                <div class="col-md-3 panel panel-default">
                    <div class="panel-heading">Total Trips {{statistics.trips}}</div>
                </div>

                <div class="col-md-3 panel panel-default">
                    <div class="panel-heading">Finished Trips {{statistics.finishedTrips}}</div>
                </div>

                <div class="col-md-3 panel panel-default">
                    <div class="panel-heading">Users {{statistics.users}}</div>

                </div>

                <div class="col-md-3 panel panel-default">
                    <div class="panel-heading">Drivers {{statistics.drivers}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Latest Trips</div>
                <div class="panel-body" ng-controller="TripsController">
                    <div trip-list></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Top Drivers</div>
                <div class="panel-body" ng-controller="DriversController">
                    <div drivers-list></div>
                </div>
            </div>
        </div>

    </div>
</div>
